@font-face {
    font-family: 'ExpresswayRg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('ExpresswayRg-Regular'), url('expressway rg.woff') format('woff');
}

h1 {
    font-family: 'ExpresswayRg-Regular';
    font-weight: 200;
    color: rgb(233, 210, 0);
}

a {
    color: black;
}

.controlls{
    display: flex;
    width: 50%;
}

@media (max-width: 500px) { 
    .controlls{
        display: block;
        width: 50%;
    }
}